@font-face {
  font-display: block;
  font-family: KabelStd;
  font-style: normal;
  font-weight: 900;
  src: url(https://assets.terveystalo.com/v11/fonts/KabelStd/KabelStd-Black.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/KabelStd/KabelStd-Black.woff)
      format("woff");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Bold.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Bold.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-BoldItalic.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-BoldItalic.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: normal;
  font-weight: 300;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Light.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Light.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: italic;
  font-weight: 300;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-LightItalic.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-LightItalic.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Regular.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-Regular.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: italic;
  font-weight: 400;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-RegularItalic.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-RegularItalic.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-SemiBold.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-SemiBold.ttf)
      format("truetype");
}
@font-face {
  font-display: block;
  font-family: TerveystaloSans;
  font-style: italic;
  font-weight: 600;
  src: url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-SemiBoldItalic.woff2)
      format("woff2"),
    url(https://assets.terveystalo.com/v11/fonts/TerveystaloSans-beta/TerveystaloSans-SemiBoldItalic.ttf)
      format("truetype");
}

/*! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  border: 0 solid;
  box-sizing: border-box;
}
:after,
:before {
  --tw-content: "";
}
html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: TerveystaloSans, sans-serif;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
}
body {
  line-height: inherit;
  margin: 0;
}
hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  height: auto;
  max-width: 100%;
}
[hidden] {
  display: none;
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}
.link,
.link:active,
.link:hover,
.link:visited,
.link:visited:active,
.link:visited:hover {
  color: var(--cta-color-link-default-content, #0046ad);
}
.link:focus {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-inner, #fff);
  outline: 0;
}
.link:focus:not(:focus-visible) {
  box-shadow: none;
}
.link:focus-visible {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-outer, #212322);
  outline: 0;
}
.box {
  background: var(--interaction-color-default-background, #fff);
  border: 0.0625rem solid var(--interaction-color-default-border, #dedede);
  border-radius: var(--core-border-xs-radius, 0.125rem);
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 1.5rem;
}
@media screen and (min-width: 48em) {
  .box {
    padding: 2rem 2.5rem 2.5rem;
  }
}
.box {
  box-shadow: 0 0.25rem 0.5rem
    var(--interaction-color-default-shadow, #2123220d);
}
.text-style-body-m {
  color: var(--core-color-content, #212322);
  font-family: var(--core-font-m-family, TerveystaloSans, sans-serif);
  font-size: var(--core-font-m-size, 1rem);
  font-weight: var(--core-font-m-weight, 400);
  letter-spacing: var(--core-font-m-letter-spacing, 0.01em);
  line-height: var(--core-font-m-line-height, 1.5rem);
}
.text-style-title-l {
  color: var(--heading-color-content, #0046ad);
  font-family: var(--heading-font-l-family, KabelStd, sans-serif);
  font-size: var(--heading-font-l-size, 2rem);
  font-weight: var(--heading-font-l-weight, 900);
  letter-spacing: var(--heading-font-l-letter-spacing, -0.01em);
  line-height: var(--heading-font-l-line-height, 2.375rem);
}
.alert {
  align-items: flex-start;
  border-radius: 0;
  display: flex;
  padding: 1rem;
}
.alert-error {
  background-color: var(--feedback-color-error-background, #fdefef);
  border: 0.0625rem solid var(--feedback-color-error-border, #f09591);
  color: var(--feedback-color-error-content, #890d47);
}
.button {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  border-radius: var(--core-border-xl-radius, 9999px);
  display: inline-flex;
  font-variant-ligatures: no-common-ligatures;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
}
.button:disabled {
  cursor: default;
}
.button:before {
  border-radius: var(--core-border-xl-radius, 9999px);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 50%;
  transition: transform 0.15s ease-in-out;
  z-index: -1;
}
.button i,
.button img {
  position: absolute;
  right: 1rem;
  transition: transform 0.15s;
}
.button:not(:disabled) {
  cursor: pointer;
}
.button:not(:disabled):active:before,
.button:not(:disabled):hover:before {
  transform: scaleX(1);
}
.button {
  border: 0.125rem solid;
  font-family: var(--cta-font-family, TerveystaloSans, sans-serif);
  font-size: var(--cta-font-size, 1.3125rem);
  font-weight: var(--cta-font-weight, 700);
  letter-spacing: var(--cta-font-letter-spacing, 0.01em);
  line-height: var(--cta-font-line-height, 1.8125rem);
  padding: 0.6875rem 3.5rem 0.75rem;
}
.button-primary {
  background-color: var(
    --cta-color-primary-positive-default-background,
    #0046ad
  );
  border-color: var(--cta-color-primary-positive-default-border, #0046ad);
  color: var(--cta-color-primary-positive-default-content, #fff);
}
.button-primary:before {
  background-color: var(
    --cta-color-primary-positive-highlight-background,
    #0063f6
  );
}
.button-primary:disabled {
  background-color: var(--cta-color-primary-positive-muted-background, #6f706f);
  border-color: var(--cta-color-primary-positive-muted-border, #6f706f);
  color: var(--cta-color-primary-positive-muted-content, #fff);
}
.button-primary:not(:disabled):active,
.button-primary:not(:disabled):hover {
  border-color: var(--cta-color-primary-positive-highlight-border, #0063f6);
  color: var(--cta-color-primary-positive-highlight-content, #fff);
}
.button-primary:focus {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-inner, #fff),
    0 0 0 0.25rem var(--core-color-outline-positive-outer, #212322);
  outline: 0;
}
.button-primary:focus:not(:focus-visible) {
  box-shadow: none;
}
.button-primary:focus-visible {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-inner, #fff),
    0 0 0 0.25rem var(--core-color-outline-positive-outer, #212322);
  outline: 0;
}
.button-secondary {
  background-color: var(
    --cta-color-secondary-positive-default-background,
    #fff
  );
  border-color: var(--cta-color-secondary-positive-default-border, #0046ad);
  color: var(--cta-color-secondary-positive-default-content, #0046ad);
}
.button-secondary:before {
  background-color: var(
    --cta-color-secondary-positive-highlight-background,
    #f1f7fb
  );
}
.button-secondary:disabled {
  background-color: var(
    --cta-color-secondary-positive-muted-background,
    #fbfbfb
  );
  border-color: var(--cta-color-secondary-positive-muted-border, #cecfce);
  color: var(--cta-color-secondary-positive-muted-content, #6f706f);
}
.button-secondary:not(:disabled):active,
.button-secondary:not(:disabled):hover {
  border-color: var(--cta-color-secondary-positive-highlight-border, #0063f6);
  color: var(--cta-color-secondary-positive-highlight-content, #0063f6);
}
.button-secondary:focus {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-outer, #212322);
  outline: 0;
}
.button-secondary:focus:not(:focus-visible) {
  box-shadow: none;
}
.button-secondary:focus-visible {
  box-shadow: 0 0 0 0.125rem var(--core-color-outline-positive-outer, #212322);
  outline: 0;
}
.fixed {
  position: fixed;
}
.inset-x-0 {
  left: 0;
  right: 0;
}
.inset-y-0 {
  bottom: 0;
  top: 0;
}
.left-0 {
  left: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.m-0 {
  margin: 0;
}
.m-0\.5 {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-1\.5 {
  margin: 1.5rem;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.my-0\.25 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.my-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.my-3\.5 {
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-0\.5 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1\.5 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2\.5 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-0\.5 {
  margin-left: 0.5rem;
}
.ml-0\.75 {
  margin-left: 0.75rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-5 {
  margin-right: 5rem;
}
.mr-auto {
  margin-right: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-0\.5 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1\.5 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2\.5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-3\.5 {
  margin-top: 3.5rem;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-1 {
  height: 1rem;
}
.h-1\.5 {
  height: 1.5rem;
}
.h-3 {
  height: 3rem;
}
.h-3\.5 {
  height: 3.5rem;
}
.h-full {
  height: 100%;
}
.min-h-full {
  min-height: 100%;
}
.w-1 {
  width: 1rem;
}
.w-1\.5 {
  width: 1.5rem;
}
.w-3 {
  width: 3rem;
}
.w-3\.5 {
  width: 3.5rem;
}
.w-full {
  width: 100%;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.self-center {
  align-self: center;
}
.overflow-hidden {
  overflow: hidden;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-full {
  border-radius: 9999px;
}
.border-b-xxs {
  border-bottom-width: 0.0625rem;
}
.border-r-xxs {
  border-right-width: 0.0625rem;
}
.border-matisse-blue-15 {
  --tw-border-opacity: 1;
  border-color: rgb(217 227 243 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-zodiac-black-08 {
  --tw-border-opacity: 1;
  border-color: rgb(237 237 237 / var(--tw-border-opacity));
}
.bg-matisse-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 70 173 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-zodiac-black-02 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 251 251 / var(--tw-bg-opacity));
}
.bg-zodiac-black-04 {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.p-1 {
  padding: 1rem;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-0\.25 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-1\.5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}
.py-0\.25 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.py-0\.5 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-3\.5 {
  padding-bottom: 3.5rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-0\.25 {
  padding-top: 0.25rem;
}
.pt-3 {
  padding-top: 3rem;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.text-matisse-blue {
  --tw-text-opacity: 1;
  color: rgb(0 70 173 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.shadow-card {
  --tw-shadow: 0 0.25rem 0.5rem #2123220d;
  --tw-shadow-colored: 0 0.25rem 0.5rem var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-default {
  transition-duration: 0.15s;
}
@media (min-width: 48em) {
  .s\:container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }
  @media (min-width: 48em) {
    .s\:container-fluid {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  @media (min-width: 64em) {
    .s\:container-fluid {
      padding-left: 2.208rem;
      padding-right: 2.208rem;
      width: 83.33%;
    }
  }
  @media (min-width: 90em) {
    .s\:container-fluid {
      padding-left: 1.917rem;
      padding-right: 1.917rem;
      width: 66.67%;
    }
  }
  @media (min-width: 120em) {
    .s\:container-fluid {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }
  .s\:text-style-title-xxl {
    color: var(--heading-color-content, #0046ad);
    font-family: var(--heading-font-xxl-family, KabelStd, sans-serif);
    font-size: var(--heading-font-xxl-size, 3.75rem);
    font-weight: var(--heading-font-xxl-weight, 900);
    letter-spacing: var(--heading-font-xxl-letter-spacing, -0.015em);
    line-height: var(--heading-font-xxl-line-height, 4.3125rem);
  }
}
.hover\:bg-matisse-blue-15:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(217 227 243 / var(--tw-bg-opacity));
}
.hover\:bg-sky-is-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 99 246 / var(--tw-bg-opacity));
}
@media (min-width: 23.4375em) {
  .xs\:inline {
    display: inline;
  }
}
@media (min-width: 48em) {
  .s\:ml-2 {
    margin-left: 2rem;
  }
  .s\:inline {
    display: inline;
  }
  .s\:h-5 {
    height: 5rem;
  }
  .s\:w-5 {
    width: 5rem;
  }
  .s\:w-\[23rem\] {
    width: 23rem;
  }
  .s\:self-start {
    align-self: flex-start;
  }
  .s\:px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .s\:pl-1 {
    padding-left: 1rem;
  }
  .s\:pl-1\.5 {
    padding-left: 1.5rem;
  }
  .s\:pr-2 {
    padding-right: 2rem;
  }
}
@media (min-width: 64em) {
  .m\:mb-0 {
    margin-bottom: 0;
  }
  .m\:ml-2 {
    margin-left: 2rem;
  }
  .m\:ml-2\.5 {
    margin-left: 2.5rem;
  }
  .m\:mr-2 {
    margin-right: 2rem;
  }
  .m\:mr-2\.5 {
    margin-right: 2.5rem;
  }
  .m\:mt-5 {
    margin-top: 5rem;
  }
  .m\:inline {
    display: inline;
  }
  .m\:flex-row {
    flex-direction: row;
  }
  .m\:items-start {
    align-items: flex-start;
  }
}
@media (min-width: 90em) {
  .l\:mt-6 {
    margin-top: 6rem;
  }
  .l\:w-6\/12 {
    width: 50%;
  }
  .l\:flex-2 {
    flex: 2 1 0%;
  }
}
